node-red
[{"id":"a419ee5d.101f58","type":"ibmiot out","z":"71d105a0.de99cc","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"NodeMcu_light","deviceType":"NodeMcu","eventCommandType":"light","format":"string","data":"msg.payload","name":"Light Power","service":"registered","x":640.6041870117188,"y":119,"wires":[]},{"id":"7f2eeabf.423b3c","type":"http in","z":"71d105a0.de99cc","name":"Light Control","url":"/nodemcu","method":"get","swaggerDoc":"","x":130.60418701171875,"y":83,"wires":[["ac46f242.1c15e"]]},{"id":"ac46f242.1c15e","type":"function","z":"71d105a0.de99cc","name":"","func":"var txt = msg.req.query.light\n\nvar msg1;\nmsg1={payload:txt};\nmsg=msg1\n\nconsole.log(\"====nodemcy=light======\"+txt);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":385.60418701171875,"y":83,"wires":[["a419ee5d.101f58","3d4c17a6.d0371"]]},{"id":"cca1956c.1399f","type":"ibmiot in","z":"71d105a0.de99cc","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"rapiro1","applicationId":"","deviceType":"Rapiro","eventType":"light_sensor","commandType":"","format":"json","name":"Light Sensor","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":"","allCommands":"","allFormats":"","x":129.60418701171875,"y":140,"wires":[["3dfe8a4a.133e06"]]},{"id":"3dfe8a4a.133e06","type":"function","z":"71d105a0.de99cc","name":"","func":"\nvar payload=msg.payload;\n\nconsole.log(\"====light sensor===\"+JSON.stringify(payload));\n\nvar power;\n\nif(payload!==null && payload.d!==null) {\n    power = payload.d.light\n}\n\nvar msg1 = {payload:power}\nmsg = msg1;\nreturn msg;","outputs":1,"noerr":0,"x":381.60418701171875,"y":140,"wires":[["a419ee5d.101f58"]]},{"id":"3d4c17a6.d0371","type":"http response","z":"71d105a0.de99cc","name":"","x":622.6041870117188,"y":68,"wires":[]},{"id":"5a20287a.e70b8","type":"http in","z":"71d105a0.de99cc","name":"Monitor","url":"/monitor","method":"get","swaggerDoc":"","x":110.60418701171875,"y":198.5,"wires":[["78dbf4e1.35e794"]]},{"id":"f9e655b.c187528","type":"ibmiot out","z":"71d105a0.de99cc","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"Rapiro1","deviceType":"Rapiro","eventCommandType":"monitor","format":"string","data":"msg.payload","name":"CameraControl","service":"registered","x":646.6041870117188,"y":176,"wires":[]},{"id":"78dbf4e1.35e794","type":"function","z":"71d105a0.de99cc","name":"","func":"var act = msg.req.query.act;\n\nvar msg1;\nmsg1={payload:act};\nmsg=msg1\n\nconsole.log(\"====Monitor=action=====\"+act);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":382.60418701171875,"y":198.5,"wires":[["e0b219a.9eac0e8","f9e655b.c187528"]]},{"id":"e0b219a.9eac0e8","type":"http response","z":"71d105a0.de99cc","name":"","x":616.6041870117188,"y":230,"wires":[]}]
